.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.main {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

/* Responsividade */
@media (max-width: 768px) {
  .main {
    padding: 0.5rem;
  }

  .footer {
    padding: 0.75rem 0;
    font-size: 14px;
  }
}