.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}

.navItems{
    display: flex;
    gap: 2rem;
    color: #fff;
}

.title{
    font-size: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .headerContainer {
        flex-direction: column;
        gap: 1rem;
        padding: 0.75rem;
    }

    .navItems {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 14px;
    }

    .title {
        font-size: 18px;
    }
}