.title {
    font-size: 3.5rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.divider {
    margin-bottom: 2rem;
}