.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "header"
    "content";
  background-color: rgb(24, 22, 22);
  padding: 1.5rem;
  width: 300px;     /* largura fixa */
  height: 180px;    /* altura fixa */
  box-sizing: border-box;
  border-radius: 8px;  /* bordas arredondadas (opcional) */
}

.header {
  grid-area: header;
  width: 100%;
  margin: 0;
  font-size: 1rem;      /* tamanho do título */
  font-weight: normal;  /* peso normal, não bold */
  color: white;
}

.content {
  grid-area: content;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem; 
  font-weight: 400;
  color: white;
}