.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "content";
  background-color: rgb(24, 22, 22);
  padding: 1.5rem;
  width: 300px;
  height: 180px;
  box-sizing: border-box;
  border-radius: 8px;
}

.header {
  grid-area: header;
  width: 100%;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  color: white;
}

.content {
  grid-area: content;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 400;
  color: white;
}

/* Responsividade */
@media (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 300px;
    height: 150px;
    padding: 1rem;
  }

  .header {
    font-size: 0.9rem;
  }

  .content {
    font-size: 3rem;
  }
}