.InfoCard{
    display: flex;
    flex: 1;
    gap: 1rem;
    padding-bottom: 2rem;
}

.title{
    font-size: 32px;
    font-weight: 400;
}

.resume{
    display: flex;
    gap: 2rem;
    padding-bottom: 2.3rem;
}

.buttons{
    display: flex;
    gap: 1rem;
}

.infosCadastro{
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
}